<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ChapterDao">
	
	<insert id="addChapter" parameterType="com.demo.entity.ChapterEntity"  useGeneratedKeys="true" keyProperty="id">
	   INSERT INTO chapter(
				parentId,
				name,
				bookId,
				sort,
				level,
				isOpen,
				createId,
				createTime
				
		)VALUES(
				#{parentId},
				#{name},
				#{bookId},
				#{sort},
				#{level},
				#{isOpen},
				#{createId},
				#{createTime}
		)
	</insert>
	
	<update id="editChapter" parameterType="com.demo.entity.ChapterEntity">
			 UPDATE chapter set
			 	parentId=#{parentId},
			 	name=#{name},
			 	bookId=#{bookId},
			 	sort=#{sort},
			 	level=#{level},
			 	isOpen=#{isOpen},
			 	updateTime=#{updateTime},
			 	updateId=#{updateId}
		   WHERE id=#{id}
	</update>
	
	
	<delete id="delChapter" parameterType="java.lang.Integer">
         delete from chapter  where 
              id in
			<foreach collection="chapterIds" item="id" index="index" open="(" close=")" separator=",">
				#{id,jdbcType=INTEGER}
			</foreach>
	</delete>
	
	<select id="findChapterById" parameterType="java.lang.Integer" resultType="com.demo.entity.ChapterEntity" >
	         select * from chapter  where 
              id in
			<foreach collection="chapterIds" item="id" index="index" open="(" close=")" separator=",">
				#{id,jdbcType=INTEGER}
			</foreach>
	</select>
	
	<select id="findChapterPoint" parameterType="java.lang.Integer" resultType="com.demo.dto.PonitDto">
			SELECT t.id,t.pointName,t.chapterId,t.number ,t.bookId
			 FROM point t 
			 WHERE t.chapterId=#{chapterId} and t.bookId=#{bookId}
	</select>
	
   <select id="bookChapterList" parameterType="java.lang.Integer" resultType="com.demo.entity.ChapterEntity">
			SELECT 
			  *
			FROM chapter a
			WHERE a.bookId=#{bookId}
	</select>
	
    <select id="findChapterSort" parameterType="java.lang.Integer" resultType="com.demo.entity.ChapterEntity">
        select * from chapter t where
               t.parentId=#{parentId}
             and t.bookId=#{bookId}
             and t.sort > #{nextSort}
             
    </select>
    
    <update id="upateChapterSort" parameterType="com.demo.entity.ChapterEntity">
			 UPDATE chapter set
			 	sort=#{sort}
		   WHERE id=#{id}
	</update>	
	
	
	
	
     
</mapper>