<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ExcerciseBookDao">
	
	<insert id="excerciseSava" parameterType="com.demo.entity.ExcerciseBookEntity" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO excercisebook(
					bookName,
					language,
					area,
					sharedType,
					createTime,
					createId,
					remark
			)VALUES(
					#{bookName},
					#{language},
					#{area},
					#{sharedType},
					#{createTime},
					#{createId},
					#{remark}
			)
	</insert>
	
	<delete id="delExcerciseById">
		DELETE FROM  excercisebook  WHERE  id=#{excerciseId}
	</delete>
	
	<update id="editExcercise" parameterType="com.demo.entity.ExcerciseBookEntity">
		 UPDATE excercisebook set
			   <if test="bookName !=null" >bookName=#{bookName},</if>
			   <if test="language !=null">language=#{language},</if>
			   <if test="sharedType !=null">sharedType=#{sharedType},</if>
			   <if test="area !=null">area=#{area},</if>
			   <if test="remark !=null">remark=#{remark},</if>
			   <if test="updateTime !=null">updateTime=#{updateTime},</if>
			   <if test="updateId !=null">updateId=#{updateId}</if>
		   WHERE id=#{id}
	</update>
	
	<select id="findExcerciseId" parameterType="java.lang.Integer" resultType="com.demo.entity.ExcerciseBookEntity">
		select * from excercisebook t where t.id=#{excerciseId}
	</select>
	
	<select id="searchAllExcercise" resultType="com.demo.entity.ExcerciseBookEntity">
		select * from excercisebook t where t.createId=#{userId}
	</select>
	
	<select id="findExcerciseIdToPonit" parameterType="java.lang.Integer" resultType="com.demo.dto.PonitDto">
			SELECT t.id,t.lorePointName,t.chapterId,t.number FROM lorepoint t
			 WHERE a.bookId=#{excerciseId}
	</select>
	
	<select id="bookChapterList" parameterType="java.lang.Integer" resultType="com.demo.entity.ChapterEntity">
			SELECT 
			  a.*
			FROM chapter a, excercisebook b
			WHERE a.bookId=b.id
			 AND b.id=#{excerciseId}
	</select>
	
	<select id="bookProgress" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	    SELECT COUNT(*) progress FROM loreexercisedetail t WHERE t.userId=#{userId}  AND t.bookId=#{bookId}
	</select>
	
	<select id="bookProgressYes" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	   SELECT COUNT(*) progress FROM loreexercisedetail t WHERE t.userId=#{userId}  AND t.bookId=#{bookId} AND t.exerciseNumber>0
	</select>
	

     
</mapper>