<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.LoreCradDao">
	
  <insert id="savaLoreCrad" parameterType="com.demo.entity.CardEntity" useGeneratedKeys="true" keyProperty="id">
 	  INSERT INTO card(
				pointId,
                cardData,
				createTime,
				createId
		)VALUES(
				#{pointId},
				#{cardData},
				#{createTime},
				#{createId}
		)
  </insert>	
	
  <select id="findLoreCradById" parameterType="java.lang.Integer" resultType="com.demo.dto.CardDto">
          select t.id,t.pointId ,t.cardData,b.pointName 
            from card t ,point b  
          where  t.pointId=b.id and t.id=#{id}
  </select>
  
  <select id="findLoreCrad" parameterType="java.lang.Integer" resultType="com.demo.entity.CardEntity">
            select * from card t where t.id=#{cardId}
  </select>
   
   <select id="findLoreCradByPointId" parameterType="java.lang.Integer" resultType="com.demo.dto.CardDto"> 
          select t.id,t.pointId ,t.cardData,b.pointName 
          from card t ,point b  
          where  t.pointId=b.id and t.pointId=#{pointId}
   </select>  
   
   <delete id="dellById" parameterType="java.lang.Integer">
     delete from card where id=#{id}
   </delete>
   
   <update id="editLoreCrad" parameterType="com.demo.entity.CardEntity">
   		 UPDATE card set
			   <if test="cardData !=null">cardData=#{cardData},</if>
			   <if test="updateTime !=null">updateTime=#{updateTime},</if>
			   <if test="updateId !=null">updateId=#{updateId}</if>
	    where id=#{id}
   </update>
   
   <update id="addPonitNumber" parameterType="java.lang.Integer">
      UPDATE point t set t.number=t.number+1 WHERE t.id=#{id}
   </update>
   
   <update id="delPonitNumber" parameterType="java.lang.Integer">
      UPDATE point t ,card b  set t.number=t.number-1 WHERE b.id=#{id} AND t.id =b.pointId
   </update>
   
   <insert id="savaCardExerciseDetail" parameterType="com.demo.entity.LoreCardExerciseDetailEntity">
    	  INSERT INTO cardExerciseDetail (
				userId,
				cardId
		)VALUES(
				#{userId},
				#{cardId}
		)
   </insert>
   
   <delete id="delCardByPointId" parameterType="java.lang.Integer">
      delete from card where pointId=#{pointId}
   </delete>
   
</mapper>