<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.LoreCradDao">
	
  <insert id="savaLoreCrad" parameterType="com.demo.entity.LoreCardEntity" useGeneratedKeys="true" keyProperty="id">
 	  INSERT INTO card(
				pointId,
				language,
				area,
				questionType,
				difficultyLevel,
				titleText,
				titleVoiceSrc,
				titleAutoPlay,
				questionText,
				questionVoiceSrc,
				questionAutoPlay,
				questionImages,
				answers,
				createTime,
				createId
		)VALUES(
				#{pointId},
				#{language},
				#{area},
				#{questionType},
				#{difficultyLevel},
				#{titleText},
				#{titleVoiceSrc},
				#{titleAutoPlay},
				#{questionText},
				#{questionVoiceSrc},
				#{questionAutoPlay},
				#{questionImages},
				#{answers},
				#{createTime},
				#{createId}
		)
  </insert>	
	
  <select id="findLoreCradById" parameterType="java.lang.Integer" resultType="com.demo.dto.CardDto">
          select t.id,t.pointId ,b.pointName ,t.questionType,
                t.difficultyLevel,t.titleText,t.questionText,t.questionImages,t.answers
          from card t ,point b  
          where  t.pointId=b.id and t.id=#{id}
  </select>
   
   <select id="findLoreCradByPointId" parameterType="java.lang.Integer" resultType="com.demo.dto.CardDto"> 
          select t.id,t.pointId ,b.pointName ,t.questionType,
                t.difficultyLevel,t.titleText,t.questionText,t.questionImages,t.answers
          from card t ,point b  
          where  t.pointId=b.id and t.pointId=#{pointId}
   </select>  
   
   <delete id="dellById" parameterType="java.lang.Integer">
     delete from card where id=#{id}
   </delete>
   
   <update id="editLoreCrad" parameterType="com.demo.entity.LoreCardEntity">
   		 UPDATE card set
			   <if test="language !=null" >language=#{language},</if>
			   <if test="area !=null">area=#{area},</if>
			   <if test="questionType !=null">questionType=#{questionType},</if>
			   <if test="difficultyLevel !=null">difficultyLevel=#{difficultyLevel},</if>
			   <if test="titleText !=null">titleText=#{titleText},</if>
			   <if test="titleVoiceSrc !=null">titleVoiceSrc=#{titleVoiceSrc},</if>
			   <if test="titleAutoPlay !=null">titleAutoPlay=#{titleAutoPlay},</if>
			   <if test="questionText !=null">questionText=#{questionText},</if>
			   <if test="questionVoiceSrc !=null">questionVoiceSrc=#{questionVoiceSrc},</if>
			   <if test="questionAutoPlay !=null">questionAutoPlay=#{questionAutoPlay},</if>
			   <if test="questionImages !=null">questionImages=#{questionImages},</if>
			   <if test="answers !=null">answers=#{answers},</if>
			   <if test="isOpen !=null">isOpen=#{isOpen},</if>
			   <if test="updateTime !=null">updateTime=#{updateTime},</if>
			   <if test="updateId !=null">updateId=#{updateId}</if>
	    where id=#{id}
   </update>
   
   <update id="addPonitNumber" parameterType="java.lang.Integer">
      UPDATE point t set t.number=t.number+1 WHERE t.id=#{id}
   </update>
   
   <update id="delPonitNumber" parameterType="java.lang.Integer">
      UPDATE point t ,card b  set t.number=t.number-1 WHERE b.id=#{id} AND t.id =b.pointId
   </update>
   
   <insert id="savaCardExerciseDetail" parameterType="com.demo.entity.LoreCardExerciseDetailEntity">
    	  INSERT INTO cardExerciseDetail (
				userId,
				cardId
		)VALUES(
				#{userId},
				#{cardId}
		)
   </insert>
   
   <delete id="delCardByPointId" parameterType="java.lang.Integer">
      delete from card where pointId=#{pointId}
   </delete>
   
</mapper>