<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.LorePointDao">
	
	<insert id="install" parameterType="com.demo.entity.LorePointEntity" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO lorepoint(
					lorePointName,
					excerciseBookId,
					number,
					createTime,
					createId
			)VALUES(
					#{lorePointName},
					#{excerciseBookId},
					#{number},
					#{createTime},
					#{createId}
			)
	</insert>
	
	<insert id="addPointDetail" parameterType="com.demo.entity.LorePointExerciseDetailEntity">
		  INSERT INTO loreexercisedetail( 
					userId,
					exerciseCycle,
					lorePointId,
					nextExerciseTime
			)VALUES(
					#{userId},
					#{exerciseCycle},
					#{lorePointId},
					#{nextExerciseTime}
			)
	</insert>
	
	
	<delete id="dellById">
		DELETE FROM  lorepoint  WHERE  id=#{id}
	</delete>
	
	<update id="update" parameterType="com.demo.entity.LorePointEntity">
		 UPDATE lorepoint set
			   <if test="lorePointName !=null" >lorePointName=#{lorePointName},</if>
			   <if test="number !=null">number=#{number},</if>
			   <if test="updateTime !=null">updateTime=#{updateTime},</if>
			   <if test="updateId !=null">updateId=#{updateId}</if>
	    where id=#{id}
	</update>
	
	<delete id="delExcerciseOrPoint" parameterType="java.lang.Integer">
		DELETE FROM  excercisebook_lorepoint  WHERE  lorePointId=#{id}
	</delete>
	
	<select id="findById" parameterType="java.lang.Integer" resultType="com.demo.dto.PonitDto">
		select * from  lorepoint t where t.id=#{id}
	</select>
	
	<select id="searchAllLorePoint" resultType="com.demo.dto.PonitDto">
		select t.id,t.lorePointName,t.number from  lorePoint t
	</select>
	
	<select id="findPointIdByDetail" parameterType="java.lang.Integer" resultType="com.demo.entity.LorePointExerciseDetailEntity">
		SELECT * FROM loreexercisedetail t WHERE t.lorePointId=#{id}
	</select>
	
	<select id="roundPoint" parameterType="java.lang.Integer" resultType="com.demo.dto.PonitDto">
	   SELECT t.id,t.lorePointName,t.number FROM lorepoint t ,loreexercisedetail a WHERE t.id=a.lorePointId AND a.userId=#{userId}
	</select>
	
     
</mapper>