<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.Point_branchDao">
	<select id="findPointBranchById" parameterType="java.lang.Integer" resultType="com.pmp.entity.PointBranchEntity">
	   select * From point_branch t where t.pointId=#{pointId}
	</select>
	
</mapper>