<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserDao">
     <select id="findUserLogin" parameterType="java.lang.String" resultType="com.demo.entity.UserEntity">
        SELECT 
            id ,
        	username ,
			email,
			telphone,
			birthday,
			degree,
	  		registerTime,
	  		lasterLoginTime
        FROM userInfo t WHERE  t.username=#{username} AND t.password=#{password}  
     </select>
     
     <insert id="savaUser" parameterType="com.demo.entity.UserEntity">
		     INSERT INTO userInfo(
					birthday,
					username,
					password,
					email,
					telphone,
					degree,
					registerTime,
					remark
			 ) VALUES(
					#{birthday},
					#{username},
					#{password},
					#{email},
					#{telphone},
					#{degree},
					#{registerTime},
					#{remark}
			 )
     </insert>
     
     <select id="findUserExerciseDetailById" parameterType="java.lang.Integer" resultType="com.demo.entity.UserExerciseDetailEntity">
     		SELECT * FROM userExerciseDetail t WHERE t.userId=#{userId}
     </select>
     
     <select id="findExerciseById" parameterType="java.lang.Integer" resultType="com.demo.entity.ExcerciseBookEntity">
     		SELECT * FROM book t WHERE t.userId=#{userId}
     </select>
     
     <select id="getUserByName" parameterType="java.lang.String"  resultType="com.demo.entity.UserEntity">
         select * from userInfo t where t.username=#{username}
     </select>
     
</mapper>